default:
  image: gitlab.virtualcitysystems.de:5050/vcsuite/devops/gitlabrunner/node:20-bookworm

variables:
  GIT_CLONE_PATH: $CI_BUILDS_DIR/$CI_PROJECT_PATH_SLUG/$CI_COMMIT_REF_SLUG

stages:
  - build
  - test
  - publish

.branch_restriction: &branch_restriction
  only:
    - /^(feature-.*|hotfix-.*|main|release-.*)$/

.template: &job_definition
  <<: *branch_restriction
  tags:
    - linux-2.0
  before_script:
    - git config --global url."https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.virtualcitysystems.de/".insteadOf "ssh://git@gitlab.virtualcitysystems.de/"
    - git config --global user.email "$GITLAB_USER_EMAIL"
    - git config --global user.name "$GITLAB_USER_NAME"
    - npm set registry 'http://npmregistry:4873'

build:
  <<: *job_definition
  script:
    - npm ci
  stage: build

.after_build_template: &after_build_definition
  <<: *job_definition
  variables:
    GIT_STRATEGY: none

lint:
  <<: *after_build_definition
  stage: test
  script:
    - npm run lint

audit:
  <<: *after_build_definition
  stage: test
  script:
    - npm audit --production --audit-level=high

publish:
  <<: *after_build_definition
  stage: publish
  only:
    variables:
      - $PUBLISH
    refs:
      - /^(main|release-v.*)$/
  script:
    - LEVEL=$([ $PUBLISH == "prerelease" ] && echo "prerelease" || echo "patch")
    - npm version $LEVEL -m "%s [skip-ci]"
    - TAG=`git describe --abbrev=0`
    - git push https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.virtualcitysystems.de/"$CI_PROJECT_PATH".git $TAG
    - git push https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.virtualcitysystems.de/"$CI_PROJECT_PATH".git HEAD:$CI_COMMIT_REF_NAME
    - npm config set '//registry.npmjs.org/:_authToken' "${NPM_TOKEN}"
    - NPM_TAG=$([ $PUBLISH == "prerelease" ] && echo "dev" || echo "latest")
    - npm publish --registry https://registry.npmjs.org --tag $NPM_TAG
